Copyright (c) 2019 OERCompBiomed

# Pandas continued

## Installation of libraries and necessary software

In [1]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd #this is how we usually import pandas
import numpy as np #this is how we usually import numpy
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number
import tables # pytables is needed to read and write hdf5 files
import openpyxl # is used to read and write MS Excel files

# Enable inline plotting
%matplotlib inline

In [2]:
# Supress some warnings:
import warnings
warnings.filterwarnings('ignore')

## Loading data¶

To go a bit further, we will work a little more with the basics of Pandas - taken from "10 Minutes to pandas"
(https://pandas.pydata.org/pandas-docs/stable/10min.html)

You can see more complex recipes in the __[Cookbook](https://pandas.pydata.org/pandas-docs/stable/cookbook.html)__

### Object creation

See also __[Intro to Data Structures](https://pandas.pydata.org/pandas-docs/stable/dsintro.html)__

__[Series](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html)__ is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. 
Creating a Series by passing a list of values, letting pandas create a default integer index:

In [46]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a __[DataFrame](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)__ by passing a NumPy array, with a datetime index and labeled columns:

In [47]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

**DataFrame** is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:

 - Dict of 1D ndarrays, lists, dicts, or Series
 - 2-D numpy.ndarray
 - [Structured or record ndarray](https://docs.scipy.org/doc/numpy/user/basics.rec.html)
 - A `Series`
 - Another `DataFrame`
 
Along with the data, you can optionally pass **index** (row labels) and **columns** (column labels) arguments. If you pass an index and / or columns, you are guaranteeing the index and / or columns of the resulting DataFrame.

In [48]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.924964  1.472961 -0.497677 -0.561559
2013-01-02  0.581438  0.425372  0.630875 -1.316848
2013-01-03  0.174778  0.179819 -0.483018  0.517086
2013-01-04  2.073474  2.951457 -0.857340 -0.255923
2013-01-05 -1.842029  1.498304  1.184741  0.860276
2013-01-06 -1.290239  0.111352 -0.760269  0.019150

Creating a DataFrame by passing a dict of objects that can be converted to series-like

In [49]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

The columns of the resulting DataFrame have different dtypes.

In [ ]:
df2.dtypes

If you’re using IPython (Jupyter notebook), tab completion for column names (as well as public attributes) is automatically enabled, ie.  df2.`<TAB>` <br> Here’s a subset of the attributes that will be completed:

```python
df2.<TAB>

 df2.A     df2.E       df2.add            df2.aggregate   df2.append        df2.as_matrix
 df2.B     df2.F       df2.add_prefix     df2.align       df2.apply         df2.asfreq
 df2.C     df2.T       df2.add_suffix     df2.all         df2.applymap      df2.asof       >  
 df2.D     df2.abs     df2.agg            df2.any         df2.as_blocks     df2.assign
```

As you can see, the columns `A`, `B`, `C`, and `D` are automatically tab completed. `E` is there as well; the rest of the attributes have been truncated for brevity.

### Viewing Data

Here is how to view the top and bottom rows of the frame:

In [50]:
df.head()

                   A         B         C         D
2013-01-01  0.924964  1.472961 -0.497677 -0.561559
2013-01-02  0.581438  0.425372  0.630875 -1.316848
2013-01-03  0.174778  0.179819 -0.483018  0.517086
2013-01-04  2.073474  2.951457 -0.857340 -0.255923
2013-01-05 -1.842029  1.498304  1.184741  0.860276

In [51]:
df.tail()

                   A         B         C         D
2013-01-02  0.581438  0.425372  0.630875 -1.316848
2013-01-03  0.174778  0.179819 -0.483018  0.517086
2013-01-04  2.073474  2.951457 -0.857340 -0.255923
2013-01-05 -1.842029  1.498304  1.184741  0.860276
2013-01-06 -1.290239  0.111352 -0.760269  0.019150

Display the index, columns, and the underlying NumPy data:

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

`describe()` shows a quick statistic summary of your data:

In [ ]:
df.describe()

### Selection

See also the indexing documentation __[Indexing and Selecting Data](https://pandas.pydata.org/pandas-docs/stable/indexing.html)__ 
and  __[MultiIndex / Advanced Indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html)__

#### Getting

Selecting a single column, which yields a Series, equivalent to `df.A`

In [ ]:
df['A']

Selecting via `[]`, which slices the rows

In [ ]:
df[0:3]

#### Selection by Label

For more, see __[Selection by Label](https://pandas.pydata.org/pandas-docs/stable/indexing.html)__

In [ ]:
# For getting a cross section using a label

df.loc[dates[0]]

In [ ]:
# Selecting on a multi-axis by label

df.loc[:,['A','B']]

In [ ]:
# Showing label slicing, both endpoints are included

df.loc['20130102':'20130104',['A','B']]

In [ ]:
# Reduction in the dimensions of the returned object

df.loc['20130102',['A','B']]

In [ ]:
# For getting a scalar value

df.loc[dates[0],'A']

In [ ]:
# For getting fast access to a scalar (equivalent to the prior method)

df.at[dates[0],'A']

#### Selection by Position

See more in __[Selection by Position](https://pandas.pydata.org/pandas-docs/stable/indexing.html)__

Select via the position of the passed integers

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python

In [ ]:
df.iloc[3:5,0:2]

By lists of integer position locations, similar to the numpy/python style

In [ ]:
df.iloc[[1,2,4],[0,2]]

For slicing rows explicitly

In [ ]:
df.iloc[1:3,:]

For slicing columns explicitly

In [ ]:
df.iloc[:,1:3]

For getting a value explicitly

In [ ]:
df.iloc[1,1]

For getting fast access to a scalar (equivalent to the prior method)

In [ ]:
df.iat[1,1]

#### Boolean Indexing

Using a single column’s values to select data

In [ ]:
df[df.A > 0]

Selecting values from a DataFrame where a boolean condition is met

In [ ]:
df[df > 0]

Using the `isin()` method for filtering

In [ ]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']
df2

In [ ]:
df2[df2['E'].isin(['two','four'])]

#### Setting

Setting a new column automatically aligns the data by the indexes

In [ ]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
s1

In [ ]:
df['F'] = s1
df

Setting values by label

In [ ]:
df.at[dates[0],'A'] = 0
df

Setting values by position

In [ ]:
df.iat[0,1] = 0
df

Setting by assigning with a NumPy array

In [ ]:
df.loc[:,'D'] = np.array([5] * len(df))

The result of the prior setting operations

In [ ]:
df

A `where` operation with setting

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

### Missing Data

Pandas primarily uses the value `np.nan` to represent missing data. It is by default not included in computations. See the __[Missing Data section](https://pandas.pydata.org/pandas-docs/stable/missing_data.html)__

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1
df1

To drop any rows that have missing data

In [ ]:
df1.dropna(how='any')

Filling missing data

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are `nan`

In [ ]:
pd.isna(df1)

### Operations

See the __[Basic section on Binary Ops](https://pandas.pydata.org/pandas-docs/stable/basics.html)__

#### Stats

Operations in general *exclude* missing data

Performing a descriptive statistic

In [ ]:
df.mean()

Same operation on the other axis

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)
s

In [ ]:
df.sub(s, axis='index')

#### Apply

Applying functions to the data

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

#### Histogramming

See more at __[Histogramming and Discretization](https://pandas.pydata.org/pandas-docs/stable/basics.html)__

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10)); s

In [ ]:
s.value_counts()

#### String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions by default (and in some cases always uses them). <br>
See more at __[Vectorized String Methods](https://pandas.pydata.org/pandas-docs/stable/text.html)__

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

### Merge

### Concat

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.<br>
See the __[Merging section](https://pandas.pydata.org/pandas-docs/stable/merging.html)__

Concatenating pandas objects together with `concat()`:

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4)); df

In [ ]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]
pieces

In [ ]:
 pd.concat(pieces)

#### Join

SQL style merges. See the __[Database style joining](https://pandas.pydata.org/pandas-docs/stable/merging.html)__ section

In [ ]:
left = pd.DataFrame({'key': ['bar', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar','bar'], 'rval': [4, 5, 6]})

print('left:\n', left)
print('\nright:\n', right)

In [ ]:
pd.merge(left, right, on='key')

#### Append

Append rows to a dataframe. See the __[Appending](https://pandas.pydata.org/pandas-docs/stable/merging.html)__ section.

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D']); df

In [ ]:
s = df.iloc[3]; s

In [ ]:
df.append(s, ignore_index=True)

### Grouping

By “group by” we are referring to a process involving one or more of the following steps:

 - **Splitting** the data into groups based on some criteria
 - **Applying** a function to each group independently
 - **Combining** the results into a data structure

See the __[Grouping section](https://pandas.pydata.org/pandas-docs/stable/groupby.html)__

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
df

Grouping and then applying the `min()` function to the resulting groups

In [ ]:
df.groupby('A').min()

Grouping by multiple columns forms a hierarchical index, and again we can apply the `min()` function

In [ ]:
df.groupby(['A','B']).min()

### Reshaping

See the sections on __[Hierarchical Indexing](https://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-hierarchical)__ and __[Reshaping](https://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-stacking)__

#### Stack

In [ ]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                      'foo', 'foo', 'qux', 'qux'],
                     ['one', 'two', 'one', 'two',
                      'one', 'two', 'one', 'two']]))
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
index

In [ ]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B']); df

In [ ]:
df2 = df[:4]
df2

The __[stack()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html#pandas.DataFrame.stack)__ method “compresses” a level in the DataFrame’s columns

In [ ]:
stacked = df2.stack()
stacked

With a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is __[unstack()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.unstack.html#pandas.DataFrame.unstack)__, which by default unstacks the **last level**:

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

#### Pivot Tables

See the section on __[Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html#reshaping-pivot)__

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                    'B' : ['A', 'B', 'C'] * 4,
                    'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                    'D' : np.random.randn(12),
                    'E' : np.random.randn(12)})
df

We can produce pivot tables from this data very easily:

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

### Time Series

Pandas has simple, powerful, and efficient functionality for performing resampling operations during frequency conversion (e.g., converting secondly data into 5-minutely data). This is extremely common in, but not limited to, financial applications. See the __[Time Series section](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries)__

In [ ]:
rng = pd.date_range('1/1/2012', periods=100, freq='S'); rng[:3]

In [ ]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng); ts[:3]

In [ ]:
ts.resample('5Min').sum()

Time zone representation:

In [ ]:
rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D'); rng[:3]

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), rng); ts

In [ ]:
ts_utc = ts.tz_localize('UTC')
ts_utc

Converting to another time zone:

In [ ]:
ts_utc.tz_convert('US/Eastern')

Converting between time span representations:

In [ ]:
rng = pd.date_range('1/1/2012', periods=5, freq='M'); rng[:3]

In [ ]:
ts = pd.Series(np.random.randn(len(rng)), index=rng); ts

In [ ]:
ps = ts.to_period(); ps

In [ ]:
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [ ]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV'); prng[:3]

In [ ]:
ts = pd.Series(np.random.randn(len(prng)), prng); ts[:3]